* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: hsl(209, 61%, 16%) !important;
  background: hsl(210, 36%, 96%);
  margin: 0;
  padding: 0;

  h1 {
    color: hsl(210, 36%, 96%);
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto;
  }
}

h2 {
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(211, 39%, 23%);
  font-weight: 800;
}

#header {
  background-color: hsl(211, 39%, 23%);
  height: 12em;
  padding-top: 4em;
}


/* #main-container {
  padding: 5rem 0;
} */

.data-container {
    background: hsl(210, 36%, 99%);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 0.5rem;
}

#findsTable, #findsTableHeading {
  display: none;
}



#tags {
  width: 40%;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  top: -3rem;
  z-index: 10; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-badge {
  display: inline-block;
  border-radius: 20px;
  padding: 6px 12px;
  margin: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
  background-color: hsl(212, 33%, 89%);
  color: hsl(209, 23%, 60%);
}

.filter-badge input[type="checkbox"] {
  display: none;
}

.filter-badge.active {
  background-color: hsl(210, 22%, 49%);
  color: hsl(221, 68%, 93%);
}

.filter-badge .close-icon {
  margin-left: 8px;
  font-weight: bold;
  color: inherit;
}
